---
title: Deep linking
heading: 'Deep linking'
section: 'examples'
---

<h1>{{ heading }}</h1>

<p>
    TableFilter also supports deep linking with the <code>state</code> option.
</p>

{{> countries-table }}

{{> tablefilter-script }}

<script data-config>
    var filtersConfig = {
        base_path: 'tablefilter/',
        state: {
          types: ['hash'],
          filters: true,
          page_number: true,
          page_length: true,
          sort: true
        },
        paging: {
          results_per_page: ['Records: ', [10,25,50,100]]
        },
        alternate_rows: true,
        btn_reset: true,
        rows_counter: true,
        loader: true,
        status_bar: true,
        col_0: 'multiple',
        col_1: 'select',
        col_2: 'checklist',
        col_widths: [
            '180px', '120px', '120px',
            '100px', '100px', '100px',
            '100px', '100px', '100px'
        ],
        col_types: [
            'string', 'string', 'number',
            'number', 'number', 'number',
            'number', 'number', 'number'
        ],
        extensions:[{
            name: 'sort'
        }]
    };
    var tf = new TableFilter('demo', filtersConfig);
    tf.init();
</script>

{{> code-tabs }}
