---
title: Donate
heading: 'Donate'
---

<h1>{{ heading }}</h1>
<p>
  Thank you for your support!
</p>

{{> paypal }}

<p>
  You can also donate to <code>koalyptus.crypto</code> blockchain domain. <br>
  Check the list of supported wallets and applications: <a href="https://unstoppabledomains.com">https://unstoppabledomains.com</a>.
</p>

<p>&nbsp;</p>
