---
title: Donate
heading: 'Donate'
---

<h1>{{ heading }}</h1>
<p>
  Thank you for your support!
</p>

{{> paypal }}

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Bitcoin</th>
      <td class="badge">1AisDmLTJD2yGQZLAwFkf7KpVCNjTpeLiZ</td>
    </tr>
    <tr>
      <th>Ethereum</th>
      <td class="badge">0x82452AB449BabD4d136867B0AD686264f3188DFa</td>
    </tr>
    {{!-- <tr>
      <th>EOS</th>
      <td></td>
    </tr> --}}
    <tr>
      <th>Bitcoin Cash</th>
      <td class="badge">1AisDmLTJD2yGQZLAwFkf7KpVCNjTpeLiZ</td>
    </tr>
    <tr>
      <th>Ethereum Classic</th>
      <td class="badge">0x82452AB449BabD4d136867B0AD686264f3188DFa</td>
    </tr>
    <tr>
      <th>Litecoin</th>
      <td class="badge">LUwpUyeHNsH2XDFVM5F3w8PahQk1YSpET9</td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>
