---
title: Exact match
heading: 'Exact match'
section: 'examples-basic'
---

<h1>{{ heading }}</h1>
<p>
    With the <code>exact_match</code> option, filtering will only return exact
    matches instead of the default partial matches.
</p>

<div class="alert alert-info" role="alert">
    Try to search for <code>syd</code> and then for <code>sydney</code> in the
    first column.
</div>

{{> cities-table }}

{{> tablefilter-script }}

<script data-config>
    var tf = new TableFilter('demo', {
        base_path: 'tablefilter/',
        exact_match: true
    });
    tf.init();
</script>

{{> code-tabs }}
