---
title: Responsive grid layout
heading: 'Responsive grid layout'
section: 'examples-basic'
---
<div data-config>
<link rel="stylesheet" type="text/css" href="tablefilter/style/tablefilter.css">
</div>

<h1>{{ heading }}</h1>
<p>
    Easily turn your tabular data into a responsive data table with the
    <code>grid_layout</code> and <code>grid_width</code> options.
</p>

<div class="alert alert-info" role="alert">
  Instructions: resize the browser's window or choose a device in the browser's
  developer tools.
</div>

{{> countries-table-tiny }}

<div class="alert alert-warning" role="alert">
    <code>TableFilter</code> imports the required stylesheets dynamically.
    However, if you use <code>grid_layout</code>, it is recommended to
    import at least the main stylesheet in your page: <br>
    <code>
&lt;link rel="stylesheet" type="text/css" href="{your path to tablefilter}/style/tablefilter.css" /&gt;
    </code>
</div>

{{> tablefilter-script }}

<script data-config>
    var tf = new TableFilter('demo', {
      base_path: 'tablefilter/',
      grid_layout: {
          width: '100%'
      }
    });
    tf.init();
</script>

{{> code-tabs }}
