---
title: Exclude rows
heading: 'Exclude rows'
section: 'examples-basic'
---

<h1>{{ heading }}</h1>
<p>
    To exclude rows from the filtering process, use the
    <code>exclude_rows</code> option. Those rows will remain always
    visible.
</p>

{{> cities-table }}

{{> tablefilter-script }}

<script data-config>
    var tf = new TableFilter('demo', {
        base_path: 'tablefilter/',
        exclude_rows: [2, 8]
    });
    tf.init();
</script>

{{> code-tabs }}
