---
title: Sort columns with external command
heading: 'Sort columns with external command'
section: 'examples-api'
---

<h1>{{ heading }}</h1>

<p>
    Sort a column with an external command.
</p>

<div class="alert alert-info" role="alert">
    Instructions: use the drop-down or the buttons to sort the table columns.
</div>

<div data-config>
  <div class="row">
      <div class="btn-group col-md-4">
          <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li>
                  <a id="extSort0" href="#" onclick="sortColumn(0);">Country</a>
                  <a id="extSort1" href="#" onclick="sortColumn(1);">ISO</a>
                  <a id="extSort2" href="#" onclick="sortColumn(2);">Year</a>
                  <a id="extSort3" href="#" onclick="sortColumn(3);">POP</a>
                  <a id="extSort4" href="#" onclick="sortColumn(4);">XRAT</a>
                  <a id="extSort5" href="#" onclick="sortColumn(5);">PPP</a>
                  <a id="extSort6" href="#" onclick="sortColumn(6);">cgdp</a>
                  <a id="extSort7" href="#" onclick="sortColumn(7);">cc</a>
                  <a id="extSort8" href="#" onclick="sortColumn(8);">ci</a>
              </li>
          </ul>

      </div>

      <div class="btn-group col-md-5" role="group" aria-label="...">
          <button type="button" class="btn btn-default"
              onclick="sortColumn(0, false);">Country &uarr;</button>
          <button type="button" class="btn btn-default"
              onclick="sortColumn(0, true);">Country &darr;</button>
          <button type="button" class="btn btn-default"
              onclick="sortColumn(2, false);">Year &uarr;</button>
          <button type="button" class="btn btn-default"
              onclick="sortColumn(2, true);">Year &darr;</button>
      </div>

      <div class="col-md-3">
          <div class="pull-right">
              Sorted column: <span class="badge">None</span>
          </div>
      </div>
  </div>
</div>

<p></p>

{{> countries-table-tiny }}

{{> tablefilter-script }}

<script data-config>
    function sortColumn(colIndex, desc) {
        var sortExt = tf.extension('sort');

        // Sort column programmatically
        sortExt.sortByColumnIndex(colIndex, desc);
    }

    var tfConfig = {
        base_path: 'tablefilter/',
        col_widths: [
            "180px", "120px", "120px",
            null, null, null,
            null, null, null
        ],
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        status_bar: true,
        col_0: 'multiple',
        col_1: 'select',
        col_2: 'checklist',
        col_types: [
            'string', 'string', 'number',
            'number', 'number', 'number',
            'number', 'number', 'number'
        ],

        // sorting extension
        extensions: [{
            name: 'sort',
            async_sort: true,
            on_after_sort: function(o, colIndex){
                document.querySelector('.badge').innerHTML =
                    o.getHeaderElement(colIndex).innerHTML;
            }
        }]
    };
    var tf = new TableFilter(
        document.querySelector('.countries-tiny'),
        tfConfig
    );
    tf.init();
</script>

{{> code-tabs }}

<div class="alert alert-warning" role="alert">
    NOTE: the sorting commands above the table use Bootstrap styles.
</div>
