---
title: Using Material Design Lite
heading: 'Using Material Design Lite'
section: 'examples-custom'
---

<h1>{{ heading }}</h1>

<p>
    This demo shows how to configure TableFilter to integrate with Material
    Design Lite.
</p>

<div class="alert alert-info" role="alert">
Assuming your project is <a href="https://getmdl.io/">Material Design Lite</a>
enabled, follow the following steps to take advantage of Material Design Lite
styling:
<ol>
    <li>
        Add the <code>mdl-data-table</code> CSS class to the working HTML table
    </li>
    <li>
        Use TableFilter's <code>tranparent</code> theme* to allow
        Material Design Lite's table styling
    </li>
</ol>
* Available starting from TableFilter v0.4.12
</div>

{{> material-design-lite-table }}


<!-- Material Design Lite -->
<div data-config>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
</div>

<style data-config>
    /* Material Design Lite integration */
    /* help container override */
    .helpCont{
        z-index: 1000;
        white-space: normal;
    }
</style>

{{> tablefilter-script }}

<script data-config>
    var tfConfig = {
        base_path: 'tablefilter/',
        alternate_rows: true,
        btn_reset: true,
        rows_counter: true,
        loader: true,
        status_bar: true,
        mark_active_columns: {
            highlight_column: true
        },
        highlight_keywords: true,
        no_results_message: true,
        col_0: 'checklist',
        col_1: 'select',
        col_2: 'multiple',
        col_types: [
            'string', 'string', 'number',
            'number', 'number', 'number',
            'number', 'number', 'number'
        ],
        col_widths: [
            '180px', '120px', '120px',
            '100px', '100px', '100px',
            '100px', '100px', '100px'
        ],
        extensions: [{
            name: 'sort'
        }],

        /** Material Design Lite integration */

        // aligns filter at cell bottom when Material Design Lite is enabled
        filters_cell_tag: 'th',

        // allows Material Design Lite table styling
        themes: [{
            name: 'transparent'
        }]
    };

    var tf = new TableFilter(document.querySelector('#demo'), tfConfig);
    tf.init();
</script>

{{> code-tabs }}
