<table id="calc-demo">
    <thead>
        <tr>
            <th width="185">Period</th>
            <th width="45">Junk</th>
            <th width="45">A</th>
            <th width="45">B</th>
            <th width="45">C</th>
            <th width="45">D</th>
            <th width="45">E</th>
            <th width="45">F</th>
            <th width="45">G</th>
            <th width="45">H</th>
            <th width="45">I</th>
            <th width="45">J</th>
            <th width="45">K</th>
            <th width="45">L</th>
            <th width="45">M</th>
            <th width="45">QTD</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2006 Q1: Jan-Mar OAA</td>
            <td>W</td>
            <td>73.6</td>
            <td>73.0</td>
            <td>73.5</td>
            <td>71.3</td>
            <td>73.5</td>
            <td>73.2</td>
            <td>71.6</td>
            <td>72.8</td>
            <td>74.3</td>
            <td>72.1</td>
            <td>72.4</td>
            <td width="45">73.6</td>
            <td>71.1</td>
            <td  >72.8</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar FAA</td>
            <td>X</td>
            <td>70.7</td>
            <td>70.1</td>
            <td>69.4</td>
            <td>68.2</td>
            <td>71.3</td>
            <td>69.9</td>
            <td>67.3</td>
            <td>70.3</td>
            <td>71.7</td>
            <td>69.6</td>
            <td>69.0</td>
            <td>71.1</td>
            <td>67.2</td>
            <td>69.7</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar CPA</td>
            <td>X</td>
            <td>80.1</td>
            <td>78.7</td>
            <td>78.0</td>
            <td>77.8</td>
            <td>78.0</td>
            <td>79.6</td>
            <td>78.5</td>
            <td>78.3</td>
            <td>80.9</td>
            <td>77.4</td>
            <td>78.5</td>
            <td>80.4</td>
            <td>77.1</td>
            <td>78.7</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar CAA</td>
            <td>X</td>
            <td>91.8</td>
            <td>92.8</td>
            <td>94.2</td>
            <td>91.7</td>
            <td>94.3</td>
            <td>91.9</td>
            <td>91.2</td>
            <td>92.9</td>
            <td>91.9</td>
            <td>93.1</td>
            <td>92.3</td>
            <td>91.6</td>
            <td>92.3</td>
            <td>92.5</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar RAA</td>
            <td>X</td>
            <td>18.2</td>
            <td>19.8</td>
            <td>20.7</td>
            <td>20.4</td>
            <td>20.7</td>
            <td>18.8</td>
            <td>19.6</td>
            <td>20.2</td>
            <td>17.6</td>
            <td>21.0</td>
            <td>19.8</td>
            <td>18.0</td>
            <td>21.1</td>
            <td>19.7</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar IAA</td>
            <td>W</td>
            <td>9.6</td>
            <td>9.4</td>
            <td>9.2</td>
            <td>9.9</td>
            <td>8.8</td>
            <td>10.5</td>
            <td>10.3</td>
            <td>10.9</td>
            <td>9.5</td>
            <td>9.9</td>
            <td>10.9</td>
            <td>10.6</td>
            <td>11.1</td>
            <td>10.0</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar QAA</td>
            <td>W</td>
            <td>23.0</td>
            <td>26.7</td>
            <td>28.5</td>
            <td>22.3</td>
            <td>29.3</td>
            <td>21.7</td>
            <td>28.8</td>
            <td>20.1</td>
            <td>25.8</td>
            <td>20.7</td>
            <td>22.5</td>
            <td>31.2</td>
            <td>24.5</td>
            <td>25.0</td>
        </tr>
        <tr>
            <td>2006 Q1: Jan-Mar PAC</td>
            <td>W</td>
            <td>95.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun OAA</td>
            <td>W</td>
            <td>72.5</td>
            <td>72.9</td>
            <td>72.5</td>
            <td>75.1</td>
            <td>72.3</td>
            <td>72.0</td>
            <td>70.0</td>
            <td>70.6</td>
            <td>68.6</td>
            <td>70.2</td>
            <td>70.5</td>
            <td>69.2</td>
            <td>69.2</td>
            <td>71.2</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun FAA</td>
            <td>W</td>
            <td>69.4</td>
            <td>69.7</td>
            <td>68.8</td>
            <td>71.1</td>
            <td>69.0</td>
            <td>67.2</td>
            <td>66.7</td>
            <td>67.5</td>
            <td>65.6</td>
            <td>67.7</td>
            <td>67.8</td>
            <td>65.6</td>
            <td>66.5</td>
            <td>67.9</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun CPA</td>
            <td>W</td>
            <td>78.8</td>
            <td>79.3</td>
            <td>78.2</td>
            <td>81.0</td>
            <td>77.4</td>
            <td>77.9</td>
            <td>76.3</td>
            <td>76.5</td>
            <td>76.2</td>
            <td>78.0</td>
            <td>78.0</td>
            <td>76.8</td>
            <td>75.7</td>
            <td>77.7</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun CAA</td>
            <td>W</td>
            <td>91.9</td>
            <td>91.9</td>
            <td>92.8</td>
            <td>92.7</td>
            <td>93.5</td>
            <td>92.4</td>
            <td>91.8</td>
            <td>92.3</td>
            <td>90.0</td>
            <td>90.0</td>
            <td>90.4</td>
            <td>90.1</td>
            <td>91.4</td>
            <td>91.6</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun RAA</td>
            <td>W</td>
            <td>19.5</td>
            <td>19.0</td>
            <td>20.3</td>
            <td>17.6</td>
            <td>21.2</td>
            <td>20.4</td>
            <td>21.8</td>
            <td>21.7</td>
            <td>21.4</td>
            <td>19.8</td>
            <td>19.9</td>
            <td>20.9</td>
            <td>22.2</td>
            <td>20.4</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun IAA</td>
            <td>W</td>
            <td>9.8</td>
            <td>9.4</td>
            <td>11.3</td>
            <td>9.7</td>
            <td>10.3</td>
            <td>8.7</td>
            <td>9.7</td>
            <td>12.2</td>
            <td>10.0</td>
            <td>10.6</td>
            <td>9.2</td>
            <td>8.3</td>
            <td>10.3</td>
            <td>10.0</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun QAA</td>
            <td>W</td>
            <td>24.7</td>
            <td>25.9</td>
            <td>23.4</td>
            <td>21.2</td>
            <td>25.0</td>
            <td>23.2</td>
            <td>25.1</td>
            <td>19.3</td>
            <td>24.5</td>
            <td>24.1</td>
            <td>23.1</td>
            <td>24.2</td>
            <td>21.5</td>
            <td>23.5</td>
        </tr>
        <tr>
            <td>2006 Q2: Apr-Jun PAC</td>
            <td>W</td>
            <td>92.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep OAA</td>
            <td>W</td>
            <td>70.7</td>
            <td>70.4</td>
            <td>70.5</td>
            <td>68.7</td>
            <td>70.1</td>
            <td>71.2</td>
            <td>71.3</td>
            <td>69.0</td>
            <td>71.5</td>
            <td>68.1</td>
            <td>69.1</td>
            <td>71.3</td>
            <td>69.7</td>
            <td>70.1</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep FAA</td>
            <td>W</td>
            <td>67.1</td>
            <td>67.4</td>
            <td>68.2</td>
            <td>66.0</td>
            <td>67.6</td>
            <td>68.5</td>
            <td>68.5</td>
            <td>66.9</td>
            <td>68.1</td>
            <td>65.3</td>
            <td>67.2</td>
            <td>68.0</td>
            <td>66.4</td>
            <td>67.3</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep CPA</td>
            <td>W</td>
            <td>77.6</td>
            <td>77.3</td>
            <td>77.3</td>
            <td>76.1</td>
            <td>77.0</td>
            <td>78.4</td>
            <td>78.9</td>
            <td>77.5</td>
            <td>78.4</td>
            <td>74.9</td>
            <td>76.9</td>
            <td>76.7</td>
            <td>75.7</td>
            <td>77.1</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep CAA</td>
            <td>W</td>
            <td>91.0</td>
            <td>91.1</td>
            <td>91.1</td>
            <td>90.2</td>
            <td>91.1</td>
            <td>90.8</td>
            <td>90.3</td>
            <td>89.0</td>
            <td>91.2</td>
            <td>90.9</td>
            <td>89.9</td>
            <td>93.0</td>
            <td>92.1</td>
            <td>90.9</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep RAA</td>
            <td>W</td>
            <td>20.4</td>
            <td>20.7</td>
            <td>20.7</td>
            <td>21.5</td>
            <td>21.0</td>
            <td>19.6</td>
            <td>19.0</td>
            <td>20.0</td>
            <td>19.7</td>
            <td>22.8</td>
            <td>20.7</td>
            <td>21.7</td>
            <td>22.4</td>
            <td>20.8</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep IAA</td>
            <td>W</td>
            <td>9.6</td>
            <td>10.3</td>
            <td>10.8</td>
            <td>11.1</td>
            <td>10.3</td>
            <td>9.7</td>
            <td>10.0</td>
            <td>10.6</td>
            <td>8.4</td>
            <td>8.8</td>
            <td>10.0</td>
            <td>10.4</td>
            <td>10.5</td>
            <td>10.0</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep QAA</td>
            <td>W</td>
            <td>18.9</td>
            <td>18.7</td>
            <td>21.6</td>
            <td>20.2</td>
            <td>22.0</td>
            <td>21.6</td>
            <td>22.6</td>
            <td>21.5</td>
            <td>17.3</td>
            <td>25.0</td>
            <td>23.8</td>
            <td>23.8</td>
            <td>21.6</td>
            <td>21.5</td>
        </tr>
        <tr>
            <td>2006 Q3: Jul-Sep PAC</td>
            <td>W</td>
            <td>94.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec OAA</td>
            <td>W</td>
            <td>71.7</td>
            <td>69.4</td>
            <td>70.2</td>
            <td>70.9</td>
            <td>73.2</td>
            <td>70.4</td>
            <td>69.9</td>
            <td>69.2</td>
            <td>71.2</td>
            <td>69.3</td>
            <td>67.9</td>
            <td>69.2</td>
            <td>67.4</td>
            <td>70.0</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec FAA</td>
            <td>W</td>
            <td>69.2</td>
            <td>66.6</td>
            <td>68.3</td>
            <td>68.8</td>
            <td>69.6</td>
            <td>67.9</td>
            <td>67.1</td>
            <td>66.9</td>
            <td>68.1</td>
            <td>67.0</td>
            <td>65.4</td>
            <td>66.2</td>
            <td>64.9</td>
            <td>67.4</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec CPA</td>
            <td>W</td>
            <td>77.6</td>
            <td>75.8</td>
            <td>75.6</td>
            <td>77.8</td>
            <td>78.0</td>
            <td>77.2</td>
            <td>76.4</td>
            <td>75.9</td>
            <td>77.3</td>
            <td>75.9</td>
            <td>74.5</td>
            <td>76.4</td>
            <td>77.0</td>
            <td>76.6</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec CAA</td>
            <td>W</td>
            <td>92.4</td>
            <td>91.6</td>
            <td>92.8</td>
            <td>91.1</td>
            <td>93.8</td>
            <td>91.2</td>
            <td>91.5</td>
            <td>91.2</td>
            <td>92.1</td>
            <td>91.3</td>
            <td>91.2</td>
            <td>90.6</td>
            <td>87.6</td>
            <td>91.4</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec RAA</td>
            <td>W</td>
            <td>20.7</td>
            <td>22.2</td>
            <td>22.6</td>
            <td>20.2</td>
            <td>20.6</td>
            <td>20.8</td>
            <td>21.6</td>
            <td>22.0</td>
            <td>20.9</td>
            <td>22.0</td>
            <td>23.3</td>
            <td>21.4</td>
            <td>20.2</td>
            <td>21.4</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec IAA</td>
            <td>W</td>
            <td>9.3</td>
            <td>10.4</td>
            <td>9.4</td>
            <td>9.7</td>
            <td>10.1</td>
            <td>9.5</td>
            <td>9.8</td>
            <td>9.6</td>
            <td>9.8</td>
            <td>9.2</td>
            <td>9.0</td>
            <td>9.1</td>
            <td>9.7</td>
            <td>9.6</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec QAA</td>
            <td>W</td>
            <td>22.5</td>
            <td>21.7</td>
            <td>23.0</td>
            <td>19.5</td>
            <td>22.7</td>
            <td>26.6</td>
            <td>24.9</td>
            <td>23.5</td>
            <td>24.1</td>
            <td>31.8</td>
            <td>22.4</td>
            <td>22.8</td>
            <td>21.1</td>
            <td>23.6</td>
        </tr>
        <tr>
            <td>2006 Q4: Oct-Dec PAC</td>
            <td>W</td>
            <td>99.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar OAA</td>
            <td>W</td>
            <td>68.2</td>
            <td>72.6</td>
            <td>70.3</td>
            <td>69.7</td>
            <td>71.4</td>
            <td>69.3</td>
            <td>66.9</td>
            <td>70.3</td>
            <td>71.8</td>
            <td>69.9</td>
            <td>71.0</td>
            <td>70.9</td>
            <td>65.7</td>
            <td>69.9</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar FAA</td>
            <td>W</td>
            <td>66.2</td>
            <td>70.4</td>
            <td>67.2</td>
            <td>67.1</td>
            <td>68.7</td>
            <td>66.4</td>
            <td>63.9</td>
            <td>67.1</td>
            <td>69.6</td>
            <td>68.2</td>
            <td>68.1</td>
            <td>69.1</td>
            <td>63.2</td>
            <td>67.3</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar CPA</td>
            <td>W</td>
            <td>76.7</td>
            <td>78.2</td>
            <td>75.3</td>
            <td>74.9</td>
            <td>76.1</td>
            <td>75.9</td>
            <td>73.4</td>
            <td>76.8</td>
            <td>78.4</td>
            <td>76.3</td>
            <td>76.1</td>
            <td>76.9</td>
            <td>73.4</td>
            <td>76.0</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar CAA</td>
            <td>W</td>
            <td>88.9</td>
            <td>92.8</td>
            <td>93.3</td>
            <td>93.2</td>
            <td>93.7</td>
            <td>91.4</td>
            <td>91.2</td>
            <td>91.5</td>
            <td>91.6</td>
            <td>91.7</td>
            <td>93.3</td>
            <td>92.2</td>
            <td>89.5</td>
            <td>91.9</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar RAA</td>
            <td>X</td>
            <td>20.7</td>
            <td>20.3</td>
            <td>23.0</td>
            <td>23.4</td>
            <td>22.4</td>
            <td>22.1</td>
            <td>24.2</td>
            <td>21.2</td>
            <td>19.8</td>
            <td>21.8</td>
            <td>22.3</td>
            <td>21.2</td>
            <td>23.8</td>
            <td>22.0</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar IAA</td>
            <td>X</td>
            <td>8.5</td>
            <td>9.1</td>
            <td>10.3</td>
            <td>8.7</td>
            <td>9.3</td>
            <td>11.0</td>
            <td>9.3</td>
            <td>9.8</td>
            <td>8.8</td>
            <td>9.1</td>
            <td>10.0</td>
            <td>9.3</td>
            <td>11.3</td>
            <td>9.6</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar QAA</td>
            <td>X</td>
            <td>18.3</td>
            <td>23.1</td>
            <td>23.6</td>
            <td>26.0</td>
            <td>30.0</td>
            <td>23.9</td>
            <td>24.7</td>
            <td>20.4</td>
            <td>22.4</td>
            <td>23.8</td>
            <td>20.3</td>
            <td>24.6</td>
            <td>21.8</td>
            <td>23.4</td>
        </tr>
        <tr>
            <td>2007 Q1: Jan-Mar PAC</td>
            <td>X</td>
            <td>99.5</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
            <td>100.0</td>
        </tr>
    </tbody>
</table>
