
<table id="demo">
    <tbody>
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>Alfreds Futterkiste</td>
            <td>BRÜNHILD Anders</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>La baguette</td>
            <td>Jérôme Dupont</td>
            <td>France</td>
        </tr>
        <tr>
            <td>Ernst Handel</td>
            <td>Zoë Punkt</td>
            <td>Austria</td>
        </tr>
        <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>Falò Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
        </tr>
    </tbody>
</table>
