
<a href="https://flattr.com/submit/auto?user_id=koalyptus&
    url=https%3A%2F%2Fgithub.com%2Fkoalyptus%2FTablefilter">
    <img src="https://api.flattr.com/button/flattr-badge-large.png"
        alt="TableFilter - A Javascript library making HTML tables filterable
        and a bit more" />
</a>
