
    <nav class="navbar navbar-default navbar-bottom">
      <div class="container">
        <ul class="nav navbar-nav">
            <li>
              <a href="https://github.com/koalyptus/TableFilter">Repo</a>
            </li>
            <li>
              <a href="https://github.com/koalyptus/TableFilter/wiki">Wiki</a>
            </li>
            <li>
              <a href="./docs" target="_blank">Docs</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="./donate.html">Donate!</a>
          </li>
        </ul>
      </div>
    </nav>
